<p>hoge works!</p>
<!-- <p>{{ hog }}</p>
<p>{{ today }}</p>
<p [class]="styleClass">{{ today }}</p> -->
<p>{{ message }}</p>
<button (click)="clickcount()">Click!!</button>
<input type="text" #field1 (keypress)="doType(field1.value)" />
<p *ngIf="visible" (click)="doclick()" class="red">これはTRUEです。</p>
<p *ngIf="visible == false" (click)="doclick()">これはFALSEです。</p>
<ul>
  <li *ngFor="let item of data">{{ item }}</li>
</ul>

<div [ngSwitch]="switch">
  <p *ngSwitchCase="'one'">1</p>
  <p *ngSwitchCase="'two'">2</p>
  <p *ngSwitchCase="'three'">3</p>
</div>

<select #se1 (change)="doSelect(se1.value)">
  <option>one</option>
  <option>two</option>
  <option>three</option>
</select>

<p [style.font-size.pt]="36" [style.color]="'#F00'">
  {{ message }}
</p>
<p [style.font-size.pt]="28" [style.color]="'#F99'">
  {{ message }}
</p>
<p [style.font-size.pt]="20" [style.color]="'#Fcc'">
  {{ message }}
</p>

<p [ngClass]="nowClass">ngClass:{{ m }}</p>
<input
  type="checkbox"
  #ck1
  (change)="check(ck1.checked, ck2.checked, ck3.checked)"
/>
<input
  type="checkbox"
  #ck2
  (change)="check(ck1.checked, ck2.checked, ck3.checked)"
/>
<input
  type="checkbox"
  #ck3
  (change)="check(ck1.checked, ck2.checked, ck3.checked)"
/>
